.front,
.back {
  display: inline-flex;
  padding: 0;

  min-width: 336px;
  max-width: 336px;
  width: 336px;
  height: 192px;

  font-size: 9px;

  flex-direction: column;
  vertical-align: top;

  border: dashed 1px #ddd;

  *:not(md-icon) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

}

.front {
  border-right: 0;

  @media screen and (max-width: 673px) {
    border-right: dashed 1px #ddd;
    border-bottom: 0;
  }
}

.back .fields{
  justify-content: space-around;
}

.date {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.fields {
  display: flex;
  padding: 0 5px 5px 5px;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.evenCondition {
  font-weight: bold;
}

img {
  height: 158px;
  z-index: -1;
}

.header {
  background-color: darkred;
  color: white;
  font-size: 16px;
  padding: 5px;
  -webkit-print-color-adjust: exact;

  md-icon {
    font-size: 24px;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
  }

  div {
    display: inline-block;
    vertical-align: middle;
  }
}

.together {
  display: inline-block;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: row;
  position: relative;
  justify-content: space-between;
}

.DOB {
  font-weight: bold;
}

h2 {
  font-size: 10px;
  margin-bottom: 1px;
  margin-top: 1px;
}

:host {
  display: flex;
  flex-flow: row wrap;
  page-break-inside: avoid;

  min-width: 337px;

  .front,
  .back {
    border-bottom: 0;
  }

  &:last-of-type {
    .front,
    .back {
      border-bottom: dashed 1px #ddd;
    }
  }
}
