.front,
.back {
  display: inline-flex;
  border: dashed 1px #ddd;
  padding: 0;

  width: 336px;
  height: 192px;

  font-size: 10px;

  flex-direction: column;
  vertical-align: top;

  box-sizing: border-box;


  *:not(md-icon) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.front {
  border-right: none;
}

.back .fields{
  justify-content: space-around;
}

.date {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.fields {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.evenCondition {
  font-weight: bold;
}

img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.header {
  background-color: darkred;
  color: white;
  font-size: 16px;
  padding: 5px;
  -webkit-print-color-adjust: exact;

  md-icon {
    font-size: 24px;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
  }

  div {
    display: inline-block;
    vertical-align: middle;
  }
}

.content {
  padding: 0 5px 5px 5px;
  flex: 1;
  position: relative;
}

.DOB {
  font-weight: bold;
}

h2 {
  font-size: 11px;
  margin-bottom: 1px;
  margin-top: 1px;

  > span {
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgba(255,255,255,1);
    padding-right: 5px;
  }
}

:host {
  display: block;
}
