
[md-suffix] {
  width: 40px;
  height: 1em;

  button {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 5px;
    right: 0;
  }
}

.full {
  width: 100%;

  input {
    width: 100%;
  }
}

md-card {
  display: flex;
  flex-flow: row wrap;

  > div {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    > * {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.stretch {
  flex: 1;
}

.box {
  text-align: center;
  background-size: cover;
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: dashed 3px gray;
  color: gray;
  width: 150px;
  height: 200px;
  box-sizing: border-box;

  &.photo {
    border: none;

    .text {
      color: white;
      text-shadow: 0.1em 0.1em 0.2em black;
      text-align: center;
      opacity: 0;
      transition: opacity .5s;
    }

    button {
      opacity: 0;
      transition: opacity .5s;
    }

    &:hover {

      .text,
      button {
        opacity: 1;
      }
    }
  }
}

$hint-margin: 20px;

md-input,
md-input-container,
md-select {
  margin-bottom: $hint-margin;
}

[md-button] {
  margin-top: 8px;
  margin-bottom: calc(8px + #{$hint-margin});
}

form {
  display: block;
  max-width: 700px;
}

md-progress-bar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
