<form [formGroup]="form" [ngClass]="{submitted: submitted}" novalidate>
  <h1>Emergency Medical ID From</h1>
  <h3>Personal Info</h3>
  <md-card class="name">
    <div>
      <md-input placeholder="First Name" formControlName="firstName" class="stretch" required>
        <md-hint class="error">Enter first name</md-hint>
      </md-input>
      <md-input placeholder="Middle Name" formControlName="middleName" class="stretch">
      </md-input>
      <md-input placeholder="Last Name" formControlName="lastName" class="stretch" required>
        <md-hint class="error">Enter last name</md-hint>
      </md-input>
    </div>
    <div>
      <md-input placeholder="Date of Birth" formControlName="dateOfBirth" (blur)="formatDate()" style="min-width:210px" class="stretch" required>
        <md-hint class="error">Enter a valid date</md-hint>
        <md-hint align="end">format: mm/dd/yyyy</md-hint>
      </md-input>
      <md-input placeholder="Phone Number" formControlName="phoneNumber">
        <md-hint class="error">Enter valid phone number</md-hint>
      </md-input>
      <md-select placeholder="Blood Type" formControlName="bloodType" required #blood>
        <md-option value="O-">O-</md-option>
        <md-option value="O+">O+</md-option>
        <md-option value="A-">A-</md-option>
        <md-option value="A+">A+</md-option>
        <md-option value="B-">B-</md-option>
        <md-option value="B+">B+</md-option>
        <md-option value="AB-">AB-</md-option>
        <md-option value="AB+">AB+</md-option>
        <md-option value="unknown">Unknown</md-option>
      </md-select>
    </div>
  </md-card>
  <h3>Photo</h3>
  <md-card>
    <app-photo-upload (cropChanged)="cropChanged($event)" [photo]="photo" [cropData]="cropData" (photoChanged)="imageChanged($event)"></app-photo-upload>
  </md-card>

  <h3>Address</h3>
  <md-card formGroupName="address">
    <div>
      <md-input class="full" placeholder="Street" formControlName="street" required>
        <md-hint class="error">Enter address street</md-hint>
      </md-input>
    </div>
    <div>
      <md-input class="full" placeholder="Street 2" formControlName="street2"></md-input>
    </div>
    <div>
      <md-input placeholder="City" formControlName="city" class="stretch" required>
        <md-hint class="error">Enter city name</md-hint>
      </md-input>
      <md-select placeholder="State" formControlName="state" required>

        <md-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</md-option>
      </md-select>
      <md-input placeholder="Zip Code" formControlName="zip" required>
        <md-hint class="error">Enter a valid zip code</md-hint>
      </md-input>
    </div>
  </md-card>

  <h3>Emergency Contacts</h3>
  <md-card formArrayName="emergencyContacts">
    <div *ngFor="let g of contacts.controls; let i=index" >
      <div [formGroupName]="i">
        <md-input placeholder="Name" formControlName="name" required>
          <md-hint class="error">Enter contact name</md-hint>
        </md-input>
        <md-input placeholder="Relationship" formControlName="relationship" required>
          <md-hint class="error">Enter relationship</md-hint>
        </md-input>
        <md-input type="tel" placeholder="Number" formControlName="phoneNumber" (blur)="formatPhone($event)" required>
          <md-hint class="error">Enter valid phone number</md-hint>
        </md-input>
        <button md-icon-button (click)="contacts.removeAt(i)" md-tooltip="Remove Contact"><md-icon >close</md-icon></button>
      </div>
    </div>
    <button md-button (click)="contacts.push(makeContactGroup())"><md-icon>add</md-icon> ADD CONTACT</button>
  </md-card>

  <h3>Physicians</h3>
  <md-card formArrayName="physicians">
    <div *ngFor="let g of physicians.controls; let i=index; let last=last" >
      <div [formGroupName]="i">
        <md-input placeholder="Name" formControlName="name">
          <md-hint class="error">Enter physician name</md-hint>
        </md-input>
        <md-input placeholder="Phone Number" formControlName="phoneNumber">
          <md-hint class="error">Enter valid phone number</md-hint>
        </md-input>
        <button md-icon-button (click)="physicians.removeAt(i)" md-tooltip="Remove Physician"><md-icon >close</md-icon></button>
      </div>
    </div>
    <button md-button (click)="physicians.push(makePhysicianGroup())"><md-icon>add</md-icon> ADD PHYSICIAN</button>
  </md-card>

  <h3>Medical Conditions</h3>
  <md-card formArrayName="medicalConditions">
    <md-input-container *ngFor="let g of conditions.controls; let i=index">
      <input md-input  [formControlName]="i" placeholder="Condition">
      <div md-suffix>
      <button md-icon-button (click)="conditions.removeAt(i)" md-tooltip="Remove Condition"><md-icon >close</md-icon></button>
      </div>
      <md-hint class="error">Enter condition</md-hint>
    </md-input-container>
    <button md-button (click)="conditions.push(makeConditionGroup())"><md-icon>add</md-icon> ADD CONDITION</button>
  </md-card>

  <h3>Medications</h3>
  <md-card formArrayName="medications">
    <div *ngFor="let g of  medications.controls; let i=index; let last=last">
      <div [formGroupName]="i">
        <md-input placeholder="Medication" formControlName="medication">
          <md-hint class="error">Enter medication</md-hint>
        </md-input>
        <md-input placeholder="Dosage" formControlName="dosage">
          <md-hint class="error">Enter dossage</md-hint>
          <md-hint align="end">example: 25mg</md-hint>
        </md-input>
        <md-input placeholder="Frequency" formControlName="frequency">
          <md-hint class="error">Enter frequency</md-hint>
          <md-hint align="end">example: 2xDay</md-hint>
        </md-input>
        <button md-icon-button (click)="medications.removeAt(i)" md-tooltip="Remove Condition"><md-icon >close</md-icon></button>
      </div>
    </div>
    <button md-button (click)="medications.push(makeMedicationGroup())"><md-icon>add</md-icon> ADD MEDICATION</button>
  </md-card>

  <h3>Allergies: /Other Info</h3>
  <md-card>
    <div formArrayName="allergies">
      <md-input-container *ngFor="let g of allergies.controls; let i=index">
        <input md-input placeholder="Allergy" [formControlName]="i">
        <div md-suffix>
          <button md-icon-button (click)="allergies.removeAt(i)" md-tooltip="Remove Allergy"><md-icon >close</md-icon></button>
        </div>
        <md-hint class="error">Enter allergy</md-hint>
      </md-input-container>
      <button md-button (click)="allergies.push(makeAllergyGroup())"><md-icon>add</md-icon> ADD ALLERGY</button>
    </div>
    <md-input placeholder="Other Information" formControlName="otherInfo"></md-input>
  </md-card>
</form>
<div class="button-row">
<button (click)="submit()" md-raised-button color="primary">View Preview</button>
</div>


