
<form [formGroup]="form" novalidate>
  <h3>Personal Info</h3>
  <md-card class="name">
    <div>
      <md-input placeholder="First Name" formControlName="firstName" required>
        <md-hint class="error">Enter first name</md-hint>
      </md-input>
      <md-input placeholder="Middle Name" formControlName="middleName">
      </md-input>
      <md-input placeholder="Last Name" formControlName="lastName" required>
        <md-hint class="error">Enter last name</md-hint>
      </md-input>
      <md-input type="date" placeholder="Date of Birth" formControlName="dateOfBirth" required>
        <md-hint class="error">Enter date of birth</md-hint>
      </md-input>
    </div>
    <div class="box" [style.background-image]="imgUrl" [ngClass]="{'photo': imgUrl}">
      <button md-raised-button color="primary" (click)="file.click()">Select Photo</button>
      <div class="text">
        or<br/>
        drop photo here
      </div>
      <input hidden type="file" (change)="attachPhoto($event)" #file accept=".jpg,.jpeg,.png" />
    </div>
  </md-card>

  <h3>Address</h3>
  <md-card formGroupName="address">
    <md-input placeholder="Street" formControlName="street" required>
      <md-hint class="error">Enter address street</md-hint>
    </md-input>
    <md-input placeholder="Street 2" formControlName="street2"></md-input>
    <md-input placeholder="City" formControlName="city" required>
      <md-hint class="error">Enter city name</md-hint>
    </md-input>
    <md-select placeholder="State" formControlName="state" required>
      <md-option value="Utah">Utah</md-option>
    </md-select>
    <md-input placeholder="Zip Code" formControlName="zip" required>
      <md-hint class="error">Enter a valid zip code</md-hint>
    </md-input>
  </md-card>

  <h3>Emergency Contacts</h3>
  <md-card formArrayName="emergencyContacts">
    <div *ngFor="let g of contacts.controls; let i=index" >
      <div [formGroupName]="i">
        <md-input placeholder="Name" formControlName="name" required>
          <md-hint class="error">Enter contact name</md-hint>
        </md-input>
        <md-input placeholder="Relationship" formControlName="relationship" required>
          <md-hint class="error">Enter relationship</md-hint>
        </md-input>
        <md-input type="tel" placeholder="Number" formControlName="phoneNumber" required>
          <md-hint class="error">Enter valid phone number</md-hint>
        </md-input>
        <md-select placeholder="Type" formControlName="type">
          <md-option value="home">Home</md-option>
          <md-option value="cell">Cell</md-option>
          <md-option value="buisness">Buisness</md-option>
          <md-option value="other">Other</md-option>
        </md-select>
        <button md-icon-button (click)="contacts.removeAt(i)" md-tooltip="Remove Contact"><md-icon >close</md-icon></button>
      </div>
    </div>
    <button md-button (click)="contacts.push(makeContactGroup())"><md-icon>add</md-icon> ADD CONTACT</button>
  </md-card>

  <h3>Physicians</h3>
  <md-card formArrayName="physicians">
    <div *ngFor="let g of physicians.controls; let i=index; let last=last" >
      <div [formGroupName]="i">
        <md-input placeholder="Name" formControlName="name">
          <md-hint class="error">Enter physician name</md-hint>
        </md-input>
        <md-input placeholder="Phone Number" formControlName="phoneNumber">
          <md-hint class="error">Enter valid phone number</md-hint>
        </md-input>
        <button md-icon-button (click)="physicians.removeAt(i)" md-tooltip="Remove Physician"><md-icon >close</md-icon></button>
      </div>
    </div>
    <button md-button (click)="physicians.push(makePhysicianGroup())"><md-icon>add</md-icon> ADD PHYSICIAN</button>
  </md-card>

  <h3>Medical Conditions</h3>
  <md-card formArrayName="medicalConditions">
    <md-input-container *ngFor="let g of conditions.controls; let i=index">
      <input md-input  [formControlName]="i" placeholder="Condition">
      <div md-suffix>
      <button md-icon-button (click)="conditions.removeAt(i)" md-tooltip="Remove Condition"><md-icon >close</md-icon></button>
      </div>
      <md-hint class="error">Enter condition</md-hint>
    </md-input-container>
    <button md-button (click)="conditions.push(makeConditionGroup())"><md-icon>add</md-icon> ADD CONDITION</button>
  </md-card>

  <h3>Medications</h3>
  <md-card formArrayName="medications">
    <div *ngFor="let g of  medications.controls; let i=index; let last=last">
      <div [formGroupName]="i">
        <md-input placeholder="Medication" formControlName="medication">
          <md-hint class="error">Enter medication</md-hint>
        </md-input>
        <md-input placeholder="Dosage" formControlName="dosage">
          <md-hint class="error">Enter dossage</md-hint>
        </md-input>
        <md-input placeholder="Frequency" formControlName="frequency">
          <md-hint class="error">Enter frequency</md-hint>
        </md-input>
        <button md-icon-button (click)="medications.removeAt(i)" md-tooltip="Remove Condition"><md-icon >close</md-icon></button>
      </div>
    </div>
    <button md-button (click)="medications.push(makeMedicationGroup())"><md-icon>add</md-icon> ADD MEDICATION</button>
  </md-card>

  <h3>Allergies: /Other Info</h3>
  <md-card>
    <div formArrayName="allergies">
      <md-input-container *ngFor="let g of allergies.controls; let i=index">
        <input md-input placeholder="Allergy" [formControlName]="i">
        <div md-suffix>
          <button md-icon-button (click)="allergies.removeAt(i)" md-tooltip="Remove Allergy"><md-icon >close</md-icon></button>
        </div>
        <md-hint class="error">Enter alergy</md-hint>
      </md-input-container>
      <button md-button (click)="allergies.push(makeAllergyGroup())"><md-icon>add</md-icon> ADD ALLERGY</button>
    </div>
    <md-input placeholder="Other Information" formControlName="otherInfo"></md-input>
  </md-card>

  <button [disabled]="form.invalid" type="submit" (click)="submit()" md-raised-button color="accent">Submit</button>

</form>



