<div md-dialog-title>Are you sure you want to print?</div>
<div md-dialog-content>
  <p>
    If you print from home, don’t forget to bring your
    ID to be laminated at the activity. Or you can choose
    to submit your information for us to print and bring
    to the activity for you. The cost of laminating the
    ID card is $.55/per card. Whether you print or not
    you can still submit.
  </p>
</div>
<div md-dialog-actions>
  <button md-raised-button (click)="cancel()">CANCEL</button>
  <button md-raised-button color="primary" (click)="print()">PRINT</button>
<div>
