/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

@import '~cropperjs/dist/cropper.css';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';

md-input .error {
  display: none;
}

md-input md-hint.error {
  color: md-color(map-get($theme, warn));
}

.md-select-trigger {
  margin-top: 10px;
}

md-input.ng-touched.ng-invalid,
.submitted md-input.ng-invalid {
  .md-input-placeholder {
    color: md-color(map-get($theme, warn));
  }

  .md-input-underline {
    border-color: md-color(map-get($theme, warn));
  }

  .md-input-ripple {
    background-color: md-color(map-get($theme, warn));
  }

  .error {
    display: block;
  }
}

md-select.ng-touched.ng-invalid,
.submitted md-select.ng-invalid {

  .md-select-placeholder {
    color: md-color(map-get($theme, warn));
  }

  .md-select-underline {
    border-color: md-color(map-get($theme, warn));
  }

  .md-select-ripple {
    background-color: md-color(map-get($theme, warn));
  }
}

