.button-bar {
  text-align: right;
  margin-top: 30px;
  @media print {
    display: none;
  }
}

.print-hide {
  @media print {
    display: none;
  }
}

.cards {
  @media screen {
    position: relative;
    overflow: auto;
    width: 100vw;
  }
}

.print-show {
  @media screen {
    // display: none;
  }
}

md-progress-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

md-input,
md-input-container {
  margin-bottom: 10px;
}

:host {
  max-width: 680px;
  display: block;
}
